.main-bar {
    background-color: #0f3a68; 
    padding: 15px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  .page {
    list-style-type: none; 
    display: flex; 
    justify-content: left
;
    margin: 0; 
    padding: 0; 
  }
  
  .page li {
    margin: 0 15px;
  }
  
  .page a {
    color: #ffffff; /* White text color */
    text-decoration: none; /* Remove underline from links */
    font-weight: bold; /* Bold text for links */
    transition: color 0.3s; /* Smooth transition for color change */
  }
  
  .page a:hover {
    color: #007bff; 
  }
  
  .page a.active {
    border-bottom: 2px solid #007bff; 
  }